In [1]:
import pandas as pd 
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel

In [2]:
Movies_df=pd.read_csv("Movies_dataset.csv")

In [3]:
Movies_df

,Movie Title,Ratinng,genre,act,Plot
0,3 Idiots,8.4,"Comedy, Drama","Aamir Khan, Madhavan, Mona Singh, Sharman Josh...","papadum, hairy chest, against the system, comi..."
1,Taare Zameen Par,8.3,"Drama, Family","Darsheel Safary, Aamir Khan, Tisca Chopra, Vip...","teacher student relationship, dyslexia, agains..."
2,PK,8.1,"Comedy, Drama, Sci-Fi","Aamir Khan, Anushka Sharma, Sanjay Dutt, Boman...","guru, religion, tv reporter, alien on earth, p..."
3,Dangal,8.3,"Action, Biography, Drama","Aamir Khan, Sakshi Tanwar, Fatima Sana Shaikh,...","small town, father daughter relationship, male..."
4,Rang De Basanti,8.1,"Comedy, Crime, Drama","Aamir Khan, Soha Ali Khan, Siddharth, Sharman ...","delhi india, murder, friend, india, awakening,..."
...,...,...,...,...,...
806,Parde Ke Peechey,5.9,Action,"Vinod Mehra, Yogeeta Bali, Pran Sikand, Bindu ...",crook
807,Dhamkee,4.0,"Action, Comedy","Ravi Teja, Anushka Shetty, Krishna, Pradeep Si...",sorry
808,Chhoo Mantar,6.0,Comedy,"Shyama, Johnny Walker, Anita Guha, Gajanan Jag...","rescue, beating, river, village, wedding, flir..."
809,Ladki Sahyadri Ki,5.0,"Musical, Drama","Shalini Abhyankar, Keshavrao Date, Vatsala Des...",sorry
810,Madadgaar,7.2,"Drama, Romance","Ravindra Kapoor, Indira, Jeevan Dhar, Uma Dutt...",sorry

In [4]:
Movies_df

,Movie Title,Ratinng,genre,act,Plot
0,3 Idiots,8.4,"Comedy, Drama","Aamir Khan, Madhavan, Mona Singh, Sharman Josh...","papadum, hairy chest, against the system, comi..."
1,Taare Zameen Par,8.3,"Drama, Family","Darsheel Safary, Aamir Khan, Tisca Chopra, Vip...","teacher student relationship, dyslexia, agains..."
2,PK,8.1,"Comedy, Drama, Sci-Fi","Aamir Khan, Anushka Sharma, Sanjay Dutt, Boman...","guru, religion, tv reporter, alien on earth, p..."
3,Dangal,8.3,"Action, Biography, Drama","Aamir Khan, Sakshi Tanwar, Fatima Sana Shaikh,...","small town, father daughter relationship, male..."
4,Rang De Basanti,8.1,"Comedy, Crime, Drama","Aamir Khan, Soha Ali Khan, Siddharth, Sharman ...","delhi india, murder, friend, india, awakening,..."
...,...,...,...,...,...
806,Parde Ke Peechey,5.9,Action,"Vinod Mehra, Yogeeta Bali, Pran Sikand, Bindu ...",crook
807,Dhamkee,4.0,"Action, Comedy","Ravi Teja, Anushka Shetty, Krishna, Pradeep Si...",sorry
808,Chhoo Mantar,6.0,Comedy,"Shyama, Johnny Walker, Anita Guha, Gajanan Jag...","rescue, beating, river, village, wedding, flir..."
809,Ladki Sahyadri Ki,5.0,"Musical, Drama","Shalini Abhyankar, Keshavrao Date, Vatsala Des...",sorry
810,Madadgaar,7.2,"Drama, Romance","Ravindra Kapoor, Indira, Jeevan Dhar, Uma Dutt...",sorry

In [5]:
Movies_df.shape

(811, 5)

In [6]:
Movies_df.isna().sum()

Movie Title    0
Ratinng        0
genre          0
act            0
Plot           0
dtype: int64

In [7]:
tfidf=TfidfVectorizer()

In [8]:
vectors=tfidf.fit_transform(Movies_df['genre'])

In [9]:
vectors.toarray()

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [10]:
vectors[0].toarray()

array([[0.        , 0.        , 0.        , 0.        , 0.83766858,
        0.        , 0.        , 0.54617887, 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        ]])

In [11]:
Movies_df

,Movie Title,Ratinng,genre,act,Plot
0,3 Idiots,8.4,"Comedy, Drama","Aamir Khan, Madhavan, Mona Singh, Sharman Josh...","papadum, hairy chest, against the system, comi..."
1,Taare Zameen Par,8.3,"Drama, Family","Darsheel Safary, Aamir Khan, Tisca Chopra, Vip...","teacher student relationship, dyslexia, agains..."
2,PK,8.1,"Comedy, Drama, Sci-Fi","Aamir Khan, Anushka Sharma, Sanjay Dutt, Boman...","guru, religion, tv reporter, alien on earth, p..."
3,Dangal,8.3,"Action, Biography, Drama","Aamir Khan, Sakshi Tanwar, Fatima Sana Shaikh,...","small town, father daughter relationship, male..."
4,Rang De Basanti,8.1,"Comedy, Crime, Drama","Aamir Khan, Soha Ali Khan, Siddharth, Sharman ...","delhi india, murder, friend, india, awakening,..."
...,...,...,...,...,...
806,Parde Ke Peechey,5.9,Action,"Vinod Mehra, Yogeeta Bali, Pran Sikand, Bindu ...",crook
807,Dhamkee,4.0,"Action, Comedy","Ravi Teja, Anushka Shetty, Krishna, Pradeep Si...",sorry
808,Chhoo Mantar,6.0,Comedy,"Shyama, Johnny Walker, Anita Guha, Gajanan Jag...","rescue, beating, river, village, wedding, flir..."
809,Ladki Sahyadri Ki,5.0,"Musical, Drama","Shalini Abhyankar, Keshavrao Date, Vatsala Des...",sorry
810,Madadgaar,7.2,"Drama, Romance","Ravindra Kapoor, Indira, Jeevan Dhar, Uma Dutt...",sorry

In [12]:
vectors[2].toarray()

array([[0.        , 0.        , 0.        , 0.        , 0.23854688,
        0.        , 0.        , 0.15553797, 0.        , 0.        ,
        0.67782864, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.67782864, 0.        , 0.        ,
        0.        , 0.        ]])

In [13]:
indexed=pd.Series(index=Movies_df['Movie Title'],data=Movies_df.index)

In [14]:
indexed

Movie Title
3 Idiots               0
Taare Zameen Par       1
PK                     2
Dangal                 3
Rang De Basanti        4
                    ...
Parde Ke Peechey     806
Dhamkee              807
Chhoo Mantar         808
Ladki Sahyadri Ki    809
Madadgaar            810
Length: 811, dtype: int64

In [15]:
sim=linear_kernel(vectors[2],vectors)

In [16]:
scores=pd.DataFrame(sim).T
scores.columns=["Score"]

In [17]:
scores

        Score
0    0.284775
1    0.050354
2    1.000000
3    0.041405
4    0.195678
..        ...
806  0.000000
807  0.168235
808  0.238547
809  0.054069
810  0.079402

[811 rows x 1 columns]

In [18]:
scores.sort_values("Score",ascending=False)

        Score
2    1.000000
787  0.888696
35   0.843011
545  0.843011
200  0.836507
..        ...
690  0.000000
85   0.000000
506  0.000000
693  0.000000
375  0.000000

[811 rows x 1 columns]

In [19]:
Movies_df["Movie Title"][scores.index[787]]

'Bhanwar'

In [20]:
def movie(name,n):
    sim=linear_kernel(vectors[indexed[name]],vectors)
    scores=pd.DataFrame(sim).T
    scores.columns=["Score"]
    scores=scores.sort_values("Score",ascending=False)
   
  

    lst=[]
    for i in range(0,n+1):
       
        s={ "title": Movies_df["Movie Title"][scores.index[i]],
           'Ratings':Movies_df["Ratinng"][scores.index[i]],
           'genre':Movies_df["genre"][scores.index[i]]
          }
        lst.append(s)
        
    return lst

In [21]:
pd.DataFrame(movie("PK",10))

                             title  Ratings                      genre
0                               PK      8.1      Comedy, Drama, Sci-Fi
1                          Bhanwar      3.5     Drama, Mystery, Sci-Fi
2                           Ra.One      4.6  Action, Adventure, Sci-Fi
3   Roar: Tigers of the Sundarbans      5.5  Action, Adventure, Sci-Fi
4                   Mission Mangal      6.5     Drama, History, Sci-Fi
5                              Paa      7.1              Comedy, Drama
6              Ghar Ghar Ki Kahani      4.9              Comedy, Drama
7          Money Hai Toh Honey Hai      2.9              Comedy, Drama
8                     Ankhon Dekhi      7.9              Comedy, Drama
9                            Billu      6.3              Comedy, Drama
10                       Bheja Fry      7.6              Comedy, Drama

In [22]:
Movies_df

,Movie Title,Ratinng,genre,act,Plot
0,3 Idiots,8.4,"Comedy, Drama","Aamir Khan, Madhavan, Mona Singh, Sharman Josh...","papadum, hairy chest, against the system, comi..."
1,Taare Zameen Par,8.3,"Drama, Family","Darsheel Safary, Aamir Khan, Tisca Chopra, Vip...","teacher student relationship, dyslexia, agains..."
2,PK,8.1,"Comedy, Drama, Sci-Fi","Aamir Khan, Anushka Sharma, Sanjay Dutt, Boman...","guru, religion, tv reporter, alien on earth, p..."
3,Dangal,8.3,"Action, Biography, Drama","Aamir Khan, Sakshi Tanwar, Fatima Sana Shaikh,...","small town, father daughter relationship, male..."
4,Rang De Basanti,8.1,"Comedy, Crime, Drama","Aamir Khan, Soha Ali Khan, Siddharth, Sharman ...","delhi india, murder, friend, india, awakening,..."
...,...,...,...,...,...
806,Parde Ke Peechey,5.9,Action,"Vinod Mehra, Yogeeta Bali, Pran Sikand, Bindu ...",crook
807,Dhamkee,4.0,"Action, Comedy","Ravi Teja, Anushka Shetty, Krishna, Pradeep Si...",sorry
808,Chhoo Mantar,6.0,Comedy,"Shyama, Johnny Walker, Anita Guha, Gajanan Jag...","rescue, beating, river, village, wedding, flir..."
809,Ladki Sahyadri Ki,5.0,"Musical, Drama","Shalini Abhyankar, Keshavrao Date, Vatsala Des...",sorry
810,Madadgaar,7.2,"Drama, Romance","Ravindra Kapoor, Indira, Jeevan Dhar, Uma Dutt...",sorry

In [23]:
indexed['Dangal']

3

In [24]:
indexed['Madadgaar']

810